.sign-up-form {
  &_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 64px);
  }

  &_account-link {
    margin-top: 12px;
  }
}
