.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  color: #fff;
  height: 64px;
  background-color: #4096ff;
}
